# Hide the containers sub items
containers/*

# Hide the storage sub items
storage/downloads/*
storage/sync/*

# Hide git related files
.git*
.gitignore
.gitmodules

# Hide environment files
.env
.env.*

# Hide pycache
__pycache__/

# Hide python .venv
.venv/

# Hide config in projects
config.ini

# Hide Rust related files
Cargo.lock
Cargo.toml
target/

# A glob for hiding anyfiles that have a certain prefix
test-*
sensitive-*
