# Hide the containers sub items
containers/*

# Hide the storage sub items
storage/downloads/*
storage/sync/*

# Hide git related files
.git*
.gitignore
.gitmodules

# Hide environment files
.env
.env.*

# Hide pycache
__pycache__/

# Hide config in projects
config.ini
