:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --font-color: #212529;
    --font-color-light: #f8f9fa;
    --border-color: #ced4da;
    --border-color-light: #f8f9fa;
    --border-radius: 0.25rem;
    --transition-speed: 0.3s;
}

/* div.response */
div.response {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.response p {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}