:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --font-color: #212529;
    --font-color-light: #f8f9fa;
    --border-color: #ced4da;
    --border-color-light: #f8f9fa;
    --border-radius: 0.25rem;
    --transition-speed: 0.3s;
}

/* main > div.form */
main div.form {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 3fr 1fr;
}

form input[type="submit"] {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--font-color-light);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: var(--secondary-color);
}

form input[type="file"] {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
